#uno{
    background-image:url(./images/logo.png); 
    background-repeat:no-repeat;
    background-size: 90%;
    height:55px;
    width:55px;
    cursor:pointer;
    background-position:center;
    border-radius: 100%;
    position:absolute;
    top: -1px;
    left: 200px;
    border-width: 0ch;
}

#dos{
    font-size: 30px;
    cursor:pointer;
    background-position:center;
    position:absolute;
    top: 60px;
    left: 200px;
    border-width: 0ch;
}

#tres{
    font-size: 30px;
    cursor:pointer;
    background-position:center;
    position:absolute;
    top: 120px;
    left: 200px;
    border-width: 0ch;
}