
.searchbar {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed; 
    top: 0; 
    width: 100%; 
    padding-top: 30px;
    padding-left: 820px;
  }
  

  .buttonsearch {
    float: left;
    opacity: 50%;
    background: transparent;
    border: transparent;
    display: flex;
    color: #f2f2f2;
    padding-bottom: 20px;
    padding-right: 10px;
    text-decoration: none;
  }
  
  

